@page "/todo/{id}"

<PageTitle>Edit a TO-DO item</PageTitle>

<h1>TODO... implement form</h1>


<section>
    <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to list</a>
</section>